body * {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  height: 95vh;
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
  color: white;
}

.content-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 550px;
  width: 550px;
  background-color: #1F2937;
  padding: 52px;
}

.content-area .title {
  font-size: 40px;
  font-weight: 800;
  font-family: 'Karla', sans-serif;
}

.content-area .title span {
  color: #10B981;
}

.content-area p {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 400;
  opacity: .7;
}

.button {
  cursor: pointer;
  margin-top: 41px;
  height: 42px;
  width: 223px;
  border: none;
  border-radius: .3rem;
  padding: 0 18px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: right;
  background-color: #10B981;
  background-image: url(../img/Icon.png);
  background-repeat: no-repeat;
  background-size: 14px 18px;
  background-position: 8% 50%;
}

.button:hover {
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.spacing-line {
  background-color: #273549;
  height: 1px;
  width: 100%;
  margin: 35px 0;
}

input {
  cursor: pointer;
  height: 39px;
  width: 211px;
  border: 0;
  border-radius: 6px;
  background-color: #273549;
  background-image: url(../img/dots-icon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 5px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #10B981;
}

input:hover, input:focus {
  outline: none;
  -webkit-filter: brightness(130%);
          filter: brightness(130%);
}

.password-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 27px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lenght-container {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.lenght-container input {
  width: 50%;
  background-image: none;
}

.lenght-container p {
  font-size: 12px;
  width: 125px;
  margin: 0;
}
/*# sourceMappingURL=home.css.map */